h1 {
            background-color: rgb(212, 14, 163);
        }

        img {
            width: 100px;
            height: 100px;
        }
        p{
        color: rgb(228, 15, 199);
        }