 h1 {
           background-color: aqua;
           text-align: center;
        
        }
        
         table,th, td{
        border: 2px solid rebeccapurple;
        text-align: center;
        border-collapse: collapse;}
    

        .table{
            background-color: rgb(135, 135, 235);
            border-bottom: dotted black;
            margin-left: 40%;
            margin-right:40%;
            text-align: center;
        }